.main {
    height: 100vh;
    width: 100vw;
    /* background: radial-gradient(white, rgb(208, 255, 208)); */
    /* background-color: white; */
    margin: 0;
    padding: 0;
}

.first-name {
    font-family: 'Archivo Black', sans-serif;
    margin: 0 auto;
    text-align: center;
    color: #24783A;
    opacity: .2;
}

.title-one {
    font-family: 'Archivo Black', sans-serif;
    margin: 0 auto;
    text-align: center;
    opacity: 0.2;
    line-height: 290px;
}

.title-two {
    font-family: 'Archivo Black', sans-serif;
    margin: 0 auto;
    text-align: center;
    opacity: 0.2;
    line-height: 100px;
}

.last-name {
    font-family: 'Archivo Black', sans-serif;
    margin: 0 auto;
    text-align: center;
    line-height: 200px;
    color: #24783A;
    opacity: .2;
}

.contact-box {
    background-color: rgb(26, 204, 100);
    position: fixed;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 175px;
    margin: 40px 50px 45px 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.contact-top-row, .contact-bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-button {
    padding: 10px;
    margin: 20px;
    width: 100px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(24, 112, 36);
    color: white;
}

.contact-button:hover {
    background-color: white;
    color: rgb(19, 129, 87);
    cursor: pointer;
}

.portfolio-box {
    margin: auto auto;
    border-radius: 20px;
    border: 0;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    width: 500px;
}

.project-tile {
    margin: auto auto;
    border-radius: 20px;
    border: 0;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    height: 400px;
    width: 800px;
}

.back-button {
    position: fixed;
    left: 0;
    top: 50%;
    margin: 50px;
}

.next-button {
    position: fixed;
    right: 0;
    top: 50%;
    margin: 50px;
}
